<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MyProject</title>

  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/fonts.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
  <border class="border_background"></border>
    <name class="border_name">Black Sea</name>
    <border-button class="borer_buttons">

      <a class="border_home" href="/">HOME</a>
      <decoration1 class="decoration1">/</decoration1>
      <a class="border_about" href="/">ABOUT ME</a>
      <decoration2 class="decoration2">/</decoration2>
      <a class="bordr_portfolio" href="/">PORTFOLIO</a>
      <decoration3 class="decoration3">/</decoration3>
      <a class="border_contactme" href="/"> CONTACT ME </a>

    </border-button>
  <banner class="banner_text">WE NEED THE TONIC OF</banner>
  <banner-wildness class="banner_text_wildness">WILDNESS</banner-wildness>
  <a class="banner_botton" href="/">Read More</a>

  <dots class="dots_main">
    <div class="dots"></div>
    <div class="dots2"></div>
    <div class="dots3"></div>
    <div class="dots4"></div>
    <div class="dots5"></div>
  </dots>

  <ico>
    <div class="background_image"></div>
    <div class="ico_box"></div>
    <div class="ico_internet"></div>
    <div class="ico_portfel"></div>
  </ico>

  <p class="text_main">At the same time that we are earnest to explore <br>.......................... & learn all th ..........................</p>
  <p class="text_under">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>

  <div class="background_2"></div>

  <div class="ico_man"></div>
  <div class="man_name">“</div>
  <div class="man_names">dhavan </div>
  <div class="man_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting</div>

  <map>
    <div class="map"></div>
    <input class="login" placeholder="Name" type="login" name="login">
    <input class="email" placeholder="Email" type="email" name="email">
    <input class="message" placeholder="Message" type="message" name="message">
    <div class="border_map"></div>
    <a class="gal" href="/"></a>
  </map>

  <footer class="footer_background">
    <p class="footer_text">Copyright © 2012 Css Author.com</p>
  </footer>

</body>
</html>
